DirectoryIndex index.php index.html
<IfModule mod_mime.c>
  AddType application/manifest+json .webmanifest
</IfModule>
<IfModule mod_headers.c>
  <FilesMatch "sw\.js$">
    Header set Cache-Control "no-cache"
  </FilesMatch>
</IfModule>
